{% extends "store/main.html" %}

{% block content %}
   <div class="categories1">
        <h2>Footwear categories</h2>
   </div>

   <div class="whole">
        <h2>Designer Shoes For You</h2>
   </div>
    <div class="container">
        <div class="cont-1">
            <img src="../../static/img/men shoe5.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: &#8358;35000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart" onclick="add_to_cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/men shoe10.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fendi Black</p><p>Price: &#8358;45000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/men shoe7.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: &#8358;75000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/men shoe3.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: &#8358;42000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/men shoe9.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Ever Shine</p><p>Price: &#8358;30000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
    </div>
    <div class="whole">
        <h2>Flat Footwear For You</h2>
    </div>
    <div class="container1">
        <div class="cont-1">
            <img src="../../static/img/images (12).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Flat Vuitton</p><p>Price: &#8358;15000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (26).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Flatwear</p><p>Price: &#8358;15000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
        </div>
        <div class="cont-1">
            <img src="../../static/img/ff4d9ad3-1ba1-442b-9b76-5ccb6582c9e0.5c87cd8bb1f726f1a66defb07345ab07.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Ladies Flatwear</p><p>Price: &#8358;10000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (16).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Brown Flat</p><p>Price:&#8358;12000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (18).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Black Zebra</p><p>Price: &#8358;15000</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit" class="btn" value="Add to Cart"></a>
            
        </div>
    </div>
    <div class="whole">
        <h2>Female Shoes</h2>
    </div>
    <div class="container2">
        <div class="cont-1">
            <img src="../../static/img/f_designer1 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Ever Nice</p><p>Price: $900</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
              
        </div>
        <div class="cont-1">
            <img src="../../static/img/f_designer5 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Red Heels</p><p>Price: $300</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/f_designer9 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Black Designer Allstars</p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/f_designer4 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Pink Heels</p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/f_designer3 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Sport shoe</p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
    </div>
    <div class="whole">
        <h2>Children Footwear</h2>
    </div>
    <div class="container1">
        <div class="cont-1">
            <img src="../../static/img/children-s.avif" alt="" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Air Max</p><p>Price: $600</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/children (2).avif" alt="Children shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Adidas for Kids</p><p>Price: $100</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/children.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Air Max Blue</p><p>Price: $400</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/child.avif" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fendi shoe</p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/child-2.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fizzy Fashion</p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
    </div>
    <div class="whole">
        <h2>Louis Vuitton </h2>
    </div>
    <div class="container">
        <div class="cont-1">
            <img src="../../static/img/images (13).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Ever Fizzy</p><p>Price: $760</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (14).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fizzy </p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (15).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fizzy </p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (9).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fizzy Fashion </p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (10).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fizzy </p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
    </div>
    <div class="whole">
        <h2>Sandals</h2>
    </div>
    <div class="container">
        <div class="cont-1">
            <img src="../../static/img/images (19).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Azonto </p><p>Price: $100</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (20).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Fit In </p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (21).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Ever Best </p><p>Price: $600</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (22).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Rocker </p><p>Price: $700</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="../../static/img/images (23).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Brown Rocker</p><p>Price: $500</p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit"class="btn" value="Add to Cart" onclick="add_to_cart"></a>
            
        </div>
        
    </div>
{% endblock %}
    