{% extends 'store/main.html' %}
{% block content %}

<div class="body">
    <div class="mmm" style="top: 5px;">
    
    </div>
    <section>
        <div class="min">
            <p>Welcome to MAX-CARES, a leading online clothing store that caters to all age groups with our modern and trendy fashion collections.  <br>
               We take pride in our innovative clothing designs and offer a seamless shopping experience through our website. <br>
                Our commitment to providing innovative services sets us apart, ensuring you receive your orders promptly and efficiently.</p>
            <br>
            <h3>MAX-CARES FOR ENTERPRISE</h3>
            <br>
            <H2 style="font-size: 4rem;">The World's most innovating <br>commerce platform</H2>
            <br>
            <p style="font-size: 1.5rem;">Unlock unprecedented growth on the plateform that keeps enyterprises ahead.</p>
        </div>
        <div class="get">
            <a href="{% url 'contact_us' %}"><h4>Get in Touch With Us</h4></a> 
        </div>
        <br>
        <br>
        <div class="part">
            <div class="ship">
                <h3>PATTNERSHIPS</h3>
                <P>"We're thrilling to patner with "GUCCI"! Their expertise, <br> dedication and commitment to excellence have been invaluable to our project <br>
                  We're looking forward to continued collaboration and achieving great things together." </P>
            </div>
            <hr>
            <div class="ido">
                <h3>IDC RECOGNITION </h3>
                <h4>MAX-CARE named of the Leaders in IDC B2C commercePlatform, 2025.</h4>
                <p>MAX-CARE ws recognised as a leadin IDCsolution for retailners ffrom 100million  TO 500Mmillon.</p>
            </div>
        </div> 
    </section>
    <section class="b2b">
        <div class="all">
            <br>
            <br>
            <br>
            <h1>Solution</h1>
            <br>
            <h5 style="font-size: 2rem;">One platform for every way you sell</h5>
            <br>
            <p>Operate your B2C AND Retail Market with softwares built <br> for customisation , productivity, and revenue growth.</p>
            <div class="b2b">
                <div class="b2c">
                    <img src="2ebaedc661d7651aa946af042ad0cefc.webp" alt="">
                    <div class="m">
                        <h3>B2C</h3>
                        <p>Outshine competition with expressive <br> storefront, the world's best- <br> checkout, and fully customisable across your <br> frontend and backend.</p>
                    </div>
                </div>
                <div class="retail">
                    <img src="about-hero-large-1645be52ccc028603eae98b741a63fb2f83d7765f916780c44e59801d1db3369.webp" alt="">
                    <h3>RETAILS</h3>
                    <P> Conquer  retail with a connection platform <br> that gives yoU A UNIFIED customer views,<br> a powerful POS app that syncs your stores, <br> and fully integrated hardware for every retail use case.</P>
                </div>
                <div class="retail">
                    <img src="2ebaedc661d7651aa946af042ad0cefc.webp" alt="">
                    <h3>B2B</h3>
                    <P>Conduct wholesale commerce on a <br> global scale with B2B selling essentails <br>reimagined for modern enterprise___from <br>hyber-personalised experience, to self-serve <br>buying operation.</P>
                </div>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
    </section>
    <div class="harmony">
        <div class="lop">
            <h4 style="font-size: 1.1rem; "> MAX-CARES ADVENTAGEh </h4><br>
            <H2>The platform builb for future-proofing</H2><br>
            <p style="font-size: 1.1rem;">MAX-CARES is an enterprise commerce operating system for immediate <br>success and future resiliene. Designed to optimise resources AND <br>maximise teturns, it keeps you aheadof shifting customer needs, <br> amplified your dsevelopment team's impart, and help you outsmart <br> competitor instead of outspending them. </p>
        </div>
        <br>
        <br>
        <div class="lo">
            <div class="low">
                <i class="bi bi-grass"></i>
                <h2>Accelerate innovation</h2>
                <p>Innovate and launch at lighning speed, on <br>the only platform that's consistently <br>to-market with new capabilities.</p>
            </div>
            <div elass="low">
                <i class="bi bi-increase"></i>
                <h2>Increase revenue</h2>
                <p>Increase top-line revenue with the <br>best-conventing checkout on planet, <br>and reach more customers on more channels. <br></p>
            </div>
            <div class="low">
                <i class="bi bi-clock"></i>
                <h2>Lower cost of ownership</h2>
                <p>MAX-COST IS ON average 33% better <br>than its competitor', making it the <br>industry's most cost-effective commerce <br>platform.</p>
            </div>
        </div>
        <br>
        <br>
        <div class="lo">  
            <div class="low">
                <i class="bi bi-verified"></i>
                <h2>Optimise performance</h2>
                <p>Handle the hightest volumes possible and <br>always stay with 99.9% uptime <br>and less than 50ms response time. <br></p>
            </div>
            <div class="low">
                <i></i>
                <h2>Build with flexiblity</h2>
                <p>Evolve your commerce architecture and <br>teransform your customer experiences with <br>a flexibe commerce Operate system <br></p>
            </div>
            <div class="low">
                <i class="bi bi-card"></i>
                <h2>Improving development impact</h2>
                <p> Use your developer resourcesto  growth <br>with unique builds,while relying <br>on MAX-COST for your ifrastructure <br>and platform.</p>
            </div>
        </div>
    </div>  
        <div class="DG">
            <div class="BB">
                <H4>$1.7B <br>R&D SPEND IN 2023</H4>
              <br>
              <br>
              <P>MAX-COST invested $1.7B into the <br>future of commerce which yard <br>a lot of income.</P>
            </div>
            <div class="BB">
                <h4>MILLONS OF BUSSINESS</h4>
                <br>
                <br>
                <p>MILLONS of brand is more than 175 <br>countriees rely on MAX-COST to <br>do bussiness.</p>
            </div>
            <div class="BB">
                <h4>THOUSANDS <br>of commerce engineering</h4>
                <br>
                <br>
                <p>MAX-COST gaint engineering team  <br>is 100% focused on making commerce better.</p>
            </div>
        </div> 
        <hr>  
        <div class="end">
            <div class="eco">
                <h4>PATTNER ECOSYSTEM</h4>
                <H2>Established partnerships <br>with the best in commerce</H2>
                <br>
                <p> Partner with top organisations that work with the world's biggest <br>brands to consult on implementation, build , and delivery.</p>
          </div>

          <div class="ser">
              <h2>Service partners</h2>
              <br>
              <p>Launch quickly and innovate at scale with  the world's best <br>
              agencies and system integrators.</p>
                  <br>
                  <br>
              <hr>
              <br>
              <hr>
              <br>
              <h2>Technology partners</h2>
              <br>
              <p>Leverge MAX-CARES app ecosystem and enterprise partners to <br>
                  work with your existing stack or build new functionality on <br>
                  MAX-CARES.
              </p>
          </div>
      </div>
</body>
{% endblock %}

