{% extends 'store/main.html' %}

{% block title %}Store{% endblock %}

{% block content %}
    <div class="body">
        <hr style=" width:100%; height: 55px;"></hr>
        <div class="adverstisement-1" style="margin-top:40px;">
            <!-- <img src="../../Assets/images/cms-banner-2 (1).jpg" alt="" width="%" height="450px"> -->
            <img src="../../static/img/71fVNKz8K8L._AC_UY900_.jpg" alt="" width="100%" height="700" style ="color: whitesmoke;">
            <h1 style="z-index: 1; position:absolute; bottom: 190px; left: 380px; font-size: 50px; color: aliceblue;"> When Fashion is all that speaks <br> and Beauty is all that spells. <br> Always here for you, with exquisite offers.</h1>
            <a href="shop.html"><input types="submit" value="Shop Now!" style="background-color: orange; height:40px; width: 200px; border: none; border-radius: 8px; font-size:large; font-family: cursive; z-index: 1; position:absolute; text-align: center; cursor: pointer; bottom: 120px; left: 600px; "></a>
        </div>
        <div class="cate" style="justify-content: center;">
            <h1 style="justify-content: center; display:flex; padding-top: 80px;">Product Categories</h1>
            <div class="C-sct" style="padding-top:80px ; display: flex; justify-content: space-evenly;">
                <div class="sct">
                    <img src="../../static/img/boot.jpg" alt="">
                    <a href="../Store/shoes.html"><b>FOOTWEARS</b></a>
                </div>
                <div class="sct">
                    <img src="../../static/img/IMG3.jpg" alt="">
                    <a href="../Store/necklace.html"><B>JEWELRY</B></a>
                </div>
                <div class="sct">
                    <img src="../../static/img/IMG12.jpg" alt="">
                    <a href=""><b>FRAGRANCE</b></a>   
                </div>
                <!-- <div class="sct">
                    <img src="../../Assets/images/IMG15.jpg" alt="">
                    <a href="#"><b>EYE-GLASSES</b></a>
                </div> -->
                <div class="sct">
                    <img src="../../static/img/IMG9.jpg" alt="">
                    <a href="#"><b>WATCHES N MORE</b></a>
                </div>
            </div>
    </div>
    <hr>
    <h2 style="text-align: center; padding: 80px 0 10px;">New Arrivals</h2>
    <p style="text-align: center; padding: 0 0 50px;">Quality Products Specially selected for you.</p>
    <div class="prd" style="display: grid; grid-template-columns: repeat(4, 1fr); margin-left: 120px; grid-template-rows: repeat(3, 2fr) gap;">
        <div class="cards">
            <img src="../../static/img/men shoe4 - Copy.jpeg" alt="">
            <div class="desc">
                <div class="p"  style=" gap: 20px; font-size: larger;">
                    <p style="margin-left: 20px; font-weight: bolder;">Male Footwear</p>
                    <p style="font-family: monospace; margin-left: 70px;">&#8358;8000</p>
                </div>            
                <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a>  -->

            </div>
        </div>
        <div class="cards">
            <img src="../../static/img/IMG10.jpg" alt="">
            <div class="desc">
                <div class="p"  style=" gap: 20px; font-size: larger;">
                    <p style="margin-left: 20px; font-weight: bolder;">Perfume Diffusers</p>
                    <p style="font-family: monospace; margin-left: 70px;">&#8358;3500</p>
                </div>                <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
            </div>
        </div>
        <div class="cards">
            <img src="../../static/img/IMG11.jpg" alt="">
            <div class="desc">
                <div class="p"  style=" gap: 20px; font-size: larger;">
                    <p style="margin-left: 20px; font-weight: bolder;">Rub On Perfume</p>
                    <p style="font-family: monospace; margin-left: 70px;">&#8358;4500</p>
                </div>                <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
            </div>
        </div>
        <div class="cards">
            <img src="../../static/img/IMG12.jpg" alt="">
            <div class="desc">
                <div class="p"  style=" gap: 20px; font-size: larger;">
                    <p style="margin-left: 20px; font-weight: bolder;">Sauvace Men</p>
                    <p style="font-family: monospace; margin-left: 70px;">&#8358;5000</p>
                </div>                <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
            </div>
        </div>
        <div class="cards">
            <img src="../../static/img/IMG13.jpg" alt="">
            <div class="desc">
                <div class="p"  style=" gap: 20px; font-size: larger;">
                    <p style="margin-left: 20px; font-weight: bolder;">Ladies Necklace</p>
                    <p style="font-family: monospace; margin-left: 70px;">&#8358;6000</p>
                </div>                <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
            </div>
        </div>
        <div class="cards">
            <img src="../../static/img/images (34).jpeg" alt="">
            <div class="desc">
           <div class="p"  style=" gap: 20px; font-size: larger;">
               <p style="margin-left: 20px; font-weight: bolder;">Ladies Wrist-watch</p>
               <p style="font-family: monospace; margin-left: 70px;">&#8358;8500</p>
           </div>                <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
       </div>
   </div>
   <div class="cards">
       <img src="../../static/img/images (18).jpeg" alt="">
       <div class="desc">
           <div class="p"  style=" gap: 20px; font-size: larger;">
               <p style="margin-left: 20px; font-weight: bolder;">Stylish Ladies flops</p>
               <p style="font-family: monospace; margin-left: 70px;">&#8358;8500</p>
           </div>                <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
       </div>
   </div>
   <div class="cards">
       <img src="../../static/img/b2.jpg" alt="">
       <div class="desc">
           <div class="p"  style=" gap: 20px; font-size: larger;">
               <p style="margin-left: 20px; font-weight: bolder;">Ladies Braclets</p>
               <p style="font-family: monospace; margin-left: 70px;">&#8358;5000</p>
           </div>
           <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
       </div>
   </div>
   <div class="cards">
       <img src="../../static/img/bt.jpg" alt="">
       <div class="desc">
           <div class="p"  style=" gap: 20px; font-size: larger;">
               <p style="margin-left: 5px; font-weight: bold;"> Ladies Pearl Jewelry</p>
               <p style="font-family: monospace; margin-left: 70px;">&#8358;11500</p>
           </div>                
       <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
       </div>
   </div>
   <div class="cards">
       <a href="store.html"><img src="../../static/img/JEWELLRY.jpg" alt="" height="190"></a>
       <div class="desc">
           <div class="p"  style=" gap: 20px; font-size: larger;">
               <p style="margin-left: 20px; font-weight: bolder;">Double butterfly</p>
               <p style="font-family: monospace; margin-left: 70px;">&#8358;5000</p>
           </div>
           <!-- <a href="cart.html"><input type="submit" value="Add to cart"></a> -->
       </div>
   </div>
   <div class="cards">
       <a href="store.html"><img src="../../static/img/images (13).jpeg" alt=""></a>
       <div class="desc">
           <div class="p"  style=" gap: 20px; font-size: larger;">
               <p style="margin-left: 20px; font-weight: bolder;">Luois Vuitton Slides</p>
               <p style="font-family: monospace; margin-left: 70px;">&#8358;7500</p>
           </div>
       </div>
   </div>
   <div class="cards">
       <a href="store.html"><img src="../../static/img/images (12).jpeg" alt=""></a>
       <div class="desc">
           <div class="p"  style=" gap: 20px; font-size: larger;">
               <p style="margin-left: 20px; font-weight: bolder;">Ladies Palms</p>
               <p style="font-family: monospace; margin-left: 70px;">&#8358;8000</p>
           </div>
       </div>
   </div>
  </div>
  <div class="ad2">
       <img src="../../static/img/cms-banner-1.jpg" alt="" width="100%">
       <h1 style="position: absolute; z-index: 1; top: 2500px; color:olive;">"The future belongs to those who believe <br>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;in the beauty of their dreams." <br> <br> &NonBreakingSpace; &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace; - Eleanor Roosevelt</h1>
       <!-- <h1>Anniversary Sales !!!</h1> -->
       <h3 style="position: absolute; z-index: 1; top: 2800px; text-align: right; margin-right: 180px; font-size:50px;">Don't Miss Out: Anniversary Sales Up To <b style="font-size:80px; color: red;">30%</b>  OFF <span style="color: red;">!!!</span></h3>
       <a href="shop.html"><input types="submit" value="Shop Now!" style="background-color: orange; padding: 8px; height:40px; width: 200px;; border: none; border-radius: 8px; font-size:large; font-family: cursive; z-index: 1; position:relative; text-align: center; cursor: pointer; bottom: 190px; left: 600px; "></a>
       <div class="brands">
           <img src="../../static/img/logo (15).png" alt="">
           <img src="../../static/img/logo (13).png" alt="">
           <img src="../../static/img/logo (12).png" alt="">
           <img src="../../static/img/logo (14).png" alt="">
           <img src="../../static/img/logo (11).png" alt="">
           <img src="../../static/img/logo (10).png" alt="">
           <img src="../../static/img/logo (9).png" alt="">
           <img src="../../static/img/logo (8).png" alt="">
           <img src="../../static/img/logo (7).png" alt="">
           <img src="../../static/img/logo (6).png" alt="">
           <img src="../../static/img/logo (5).png" alt="">
           <img src="../../static/img/logo (4).png" alt="">
           <img src="../../static/img/logo (3).png" alt="">
           <img src="../../static/img/logo (2).png" alt="">
           <img src="../../static/img/logo (1).png" alt="">
       </div>
  </div>
  <!-- <div class="blog">
   h1
  </div> -->

    </div>

{% endblock %}
